@-webkit-keyframes STAR-MOVE {
  from {
    background-position: 100% 100%
  }
  to { 
    background-position: 100% 0%
  }
}

body {
  background-color: #7fe;
  background-color: #7ef;
  background-color: #f7e;
  background-color: #fe7;
  background-color: #e7f;
  background-color: #ef7;
  margin: 0;
}

#tsparticles {
  position: absolute;
  width: 99%;
  height: 99%;
  z-index: 100;
}

.container {
  width: 960px;
  margin: 0 auto;
  background-color: #ef7;
}

.data-container {
  border-style: solid;
  border-radius: 1.13em;
  /*border-color: #7fe;*/
  border-color: #7ef;
  margin: 3em;
  padding: 2em;
  z-index: 1000;
}

h1 {
  font-size: 4em;
  text-align: center;
  color: #e7f;
  z-index: 1000;
  margin-block-start: 0;
  padding-top: 1em;
}

h2{
  font-size: 2em;
  text-align: center;
  color: #e7f;
  z-index: 1000;
  margin-block-start: 0;
}

h3 {
  font-size: 1.5em;
  text-align: center;
  color: #e7f;
  z-index: 1000;
  margin-block-start: 0;
}

p {
  text-align: center;
  font-size: 30px;
  margin: 20px 0 20px 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button-container {
  border-style: solid;
  border-radius: .5em;
  border-color: #e7f;
}

.button-container > span {
  color: #e7f
}
